[Unit]
Description=Surveilance system and telegrom bot

[Service]
Restart=no
ExecStart=/usr/bin/stasibot
ExecReload=/usr/bin/stasibot

[Install]
WantedBy=default.target
